* {
 box-sizing: border-box;
 padding: 0;
 margin: 0;
}

#basic-addon3 {
 display: none;
}

form {
 display: flex;
}

#prethodnePretrage {

 display: flex;
 justify-content: center;
 align-items: center;
 flex-direction: column;
 gap: 1em;
 width: 100%;

}


#main-btn {
 width: 100%;
 background-color: #fff;
 color: #000;
 border: none;
 border-radius: 15px;
 padding: 10px;
 transition: all 0.3s ease-in-out;
}

#main-btn:hover {
 background-color: rgb(113, 113, 113);
 color: #fff;
}

.activeBtn {
 background-color: red !important;

}